<nav class="navbar">
  <div class="logo">Skill Match AI</div>
  <button class="menu-toggle" (click)="toggleMenu()">
    &#9776;
  </button>
  <div class="nav-links" [ngClass]="{'open': isMenuOpen}">
    <a routerLink=''><i class="fas fa-home"></i></a>
    
    <div class="login">
      <a (click)="navigateToLogin()">
        <i class="fas fa-sign-in-alt"></i> 
        Login
      </a>
    </div>
    
    <button routerLink="/register" class="btn purple">
      <i class="fas fa-user-plus"></i>
      Register
    </button>
    
    <button class="btn purple" (click)="logoutUser()">
      <i class="fas fa-sign-out-alt" ></i> 
      Logout
    </button>
    
  </div>
</nav>
