<body>
  <div class="container">
    <aside class="sidebar">
      <div class="sidebar-header"><span>A</span> Admin Portal</div>
      <ul class="sidebar-menu">
        <li><a class="active">User Management</a></li>
        <li><a (click)="navigateToSecurityPolicy()">Security</a></li>
        <li><a (click)="navigateToAiChecker()">AI Performance</a></li>
        <li><a (click)="navigateToAiMonitoring()">Ai Monitoring</a></li>
        <li><a (click)="navigateToAnalytics()">Analytics</a></li>
      </ul>
    </aside>

    <main class="content">
      <div class="content-header">
        <h2>User Management</h2>
        <!-- <button class="add-user-button">Add User</button> -->
      </div>

      <table class="user-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role?.roleName }}</td>
            <button (click)="deleteUser(user.id)" class="add-user-button">Delete</button>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</body>

